.events-main-wrapper {
  background-color: #f5f5dc;
  min-height: 100vh;
  padding-bottom: 40px;

  .view-buttons-container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;

    .view-button {
      background-color: #b8b8b8;
      border: none;
      font-size: 18px;
      cursor: pointer;
      color: #ffffff;
      transition: color 0.3s ease;
      padding: 10px 15px;
      border-radius: 25px;
      font-weight: 600;

      &:hover {
        opacity: 0.5;
      }
    }
    .active {
      background-color: #3cb371;
    }
  }
}
.no-events-message {
  display: flex;
  justify-content: center;
  align-items: center;
}