.reward-section {
  padding: 1rem;
  background-color: #f5f5dc;
  min-height: 100vh;

  .reward-section__user-points {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .no-rewards-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
