.task-list {
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  gap: 8px;
  width: 820px;
  overflow: hidden;
  padding-right: 10px;

  .task-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    transition: 0.3ms;
    max-width: 400px;
    background-color: #f5f7f9;
    border-radius: 15px;
    padding: 16px 24px;
    gap: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    filter: drop-shadow(0 2px 2px #00000030);
    cursor: pointer;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .task-card__header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .task-card__category {
        color: #3498db;
        font-weight: bold;
        text-align: left;
        font-size: 16px;
      }
      .task_card__task-type {
        color: #3498db;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .task-card__body {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      font-size: 18px;

      .task-card__title {
        font-weight: bold;
        font-size: 18px;
        flex-grow: 1;
      }
      .task-card__points {
        color: #2ecc71;
        width: 100px;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .task-card__description {
      overflow: hidden;
      font-size: 16px;
    }
  }
}

.no-tasks-message {
  font-weight: 600;
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-color: #f5f7f9;
  border-radius: 15px;
  filter: drop-shadow(0 2px 2px #00000030);
  display: flex;
  align-items: center;
  justify-content: center;
}
